@import url('https://fonts.cdnfonts.com/css/bebas-kai');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-bebas {
  font-family: 'Bebas Kai', sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  --sb-track-color: #444a4c;
  --sb-thumb-color: #313131;
  --sb-size: 4px;
}

#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track,
#root::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb,
#root::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  border: 9px solid #2e3335;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  #root {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
